<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/public/exhibit.css">
    </head>
    <body>
      <div class="container">
      <div class="presentation">
          <iframe class="frame" id="slideurl" src="<%= @buttons.first.pres_path %>"></iframe>
      </div>
      <div class="controller">
          <% @buttons.each do |button| %>
          <!-- add on click -->
          <div><img src="<%= button.img_path %>" onclick="document.getElementById('slideUrl').src="<%= button.pres_path %>" " ></div>
        <% end %>
        </div>
        </div>
        </body>
        </html>
