<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/exhibit.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    </head>
    <body>
      <div class="presentation">
          <iframe class="frame" id="slideurl" src=<%= @buttons.first.pres_path %>></iframe>
      </div>
      <div class="controller">
          <% @buttons.each do |button| %>
          <div class="col">
            <img class="buttons" src="<%= button.img_path %>" onclick="document.getElementById('slideurl').src='<%= button.pres_path %>'" >
            <p class="below"> <%= button.caption %> </p>
            </div>

        <% end %>
        </div>
        </body>
        </html>
