<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/exhibit.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <script>

    </script>
  </head>
  <body>
    <div class="presentation">
      <iframe class="frame" id="slideurl" src=<%= @initial.pres_path %>></iframe>
    </div>
    <div class="controller" id="controller">
      <%= @buttons_html %>
    </div>
  </body>
</html>
