.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-family: Quicksand;
  border-radius: 30px;
  width: 120px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px 0;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  font-size: 80%;
}

.tooltiptext {
  top: 25px;
  left: 100%;
  position: relative;
}

div.controller div.col:last-child .tooltiptext {
  left: -100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.presentation {
  width: 100%;
  height: 75%;
  border: 0;
}

.frame {
  width: 100%;
  height: 100%;
  border: 0;
}

html, body {
  height: 100%;
  background-color: black;
}

.buttons {
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.below {
  color: white;
  font-family: Quicksand;
  font-weight: bold;
}
